<!DOCTYPE html>
<html>
  <head>
    <!--
    <link rel='stylesheet' href='/stylesheets/style.css' />
    -->
    <link rel='stylesheet' href='/stylesheets/base.css' />
    <link rel='stylesheet' href='/stylesheets/mdListPagination.css' />
    <link rel='stylesheet' href='/stylesheets/pgIndex.css' />



  </head>
  <body>
  <%- include ../partials/toolbar.ejs %>
  <%- include ../partials/header.ejs %>
    <p>home</p>
  </body>
</html>
