<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <%- include ../partials/toolbar.ejs %>
  <%- include ../partials/header.ejs %>
    <p>home</p>
  </body>
</html>
