<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="/javascripts/libs/jquery.js"></script><!--3.0-->
	<script type="text/javascript" src="/javascripts/helper.js"></script>

</head>
<body>

<script>
	$(document).ready(function () {

	});
</script>

</body>
</html>