<html>
<head>
    <script type="text/javascript" src="/javascripts/jquery.js"></script>
    <script type="text/javascript" src="/javascripts/vue.js"></script>
    <script type="text/javascript" src="/javascripts/lodash.js"></script>
</head>
<body>

<script>
	$(document).ready(function () {

	});
</script>

<script>
	var pageName = new Vue({
		el: '#pageId',
		data:{

		},
		methods:{

		},
		mounted(){

		}

	})
</script>
</body>
</html>