<html>
<head>
    <style>
        #toolbar {
            background:
                    #f6f6f6;
            height: 30px;
        }

        body {
            color:
                    #666;
        }
        body, button, input, select, textarea {
            font: 12px/1.5 "微软雅黑",Tahoma,Helvetica,Arial,'宋体',sans-serif,宋体;
        }

        w1200 #toolbar .bar-con {
            width: 1200px;
        }
        #toolbar .bar-con {
            width: 980px;
            margin: 0 auto;
            line-height: 29px;
        }

        body {
            color: #666;
        }
        body, button, input, select, textarea {
            font: 12px/1.5 "微软雅黑",Tahoma,Helvetica,Arial,'宋体',sans-serif,宋体;
            line-height: 1.5;
        }
        fr {
            float: right;
            display: inline;
        }

        #toolbar .bar-con {
            line-height: 29px;
        }
        body {
            color:
                    #666;
        }
        body, button, input, select, textarea {
            font: 12px/1.5 "微软雅黑",Tahoma,Helvetica,Arial,'宋体',sans-serif,宋体;
            line-height: 1.5;
        }
        toolbar .bar-con .right-show div.logined-show, #toolbar .bar-con .right-show div.personal-show, #toolbar .bar-con .right-show div.bag-show, #toolbar .bar-con .right-show div.other-show, #toolbar .bar-con .right-show div.union-login, #toolbar .bar-con .right-show div.login-show {
            display: block;
            float: left;
            color:
                    #e2e2e2;
        }


        body {
            color: #666;
        }
        body, button, input, select, textarea {
            font: 12px/1.5 "微软雅黑",Tahoma,Helvetica,Arial,'宋体',sans-serif,宋体;
            line-height: 1.5;
        }

        #toolbar .bar-con .right-show div.logined-show, #toolbar .bar-con .right-show div.personal-show, #toolbar .bar-con .right-show div.bag-show, #toolbar .bar-con .right-show div.other-show, #toolbar .bar-con .right-show div.union-login, #toolbar .bar-con .right-show div.login-show {
            display: block;
            float: left;
            color: #e2e2e2;
        }
        #toolbar .bar-con .right-show .bag-show {
            position: relative;
            z-index: 101;
            width: 107px;
            height: 30px;
            background: url(../images/global/li_cur.png) no-repeat right 7px;
            color:
                    #f6f6f6 !important;
        }


        body {
            color: #666;
        }
        body, button, input, select, textarea {
            font: 12px/1.5 "微软雅黑",Tahoma,Helvetica,Arial,'宋体',sans-serif,宋体;
            line-height: 1.5;
        }
        #toolbar .bar-con .right-show div.logined-show, #toolbar .bar-con .right-show div.personal-show, #toolbar .bar-con .right-show div.bag-show, #toolbar .bar-con .right-show div.other-show, #toolbar .bar-con .right-show div.union-login, #toolbar .bar-con .right-show div.login-show {
            display: block;
            float: left;
            color:
                    #e2e2e2;
        }
        .other-show01 {
            position: relative;
            z-index: 13;
        }


        body {
            color: #666;
        }
        body, button, input, select, textarea {
            font: 12px/1.5 "微软雅黑",Tahoma,Helvetica,Arial,'宋体',sans-serif,宋体;
            line-height: 1.5;
        }

        .other-show01 {
            position: relative;
            z-index: 13;
        }
        html, body, div, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
            margin: 0;
            padding: 0;
        }

        body {
            color: #666;
        }
        body, button, input, select, textarea {
            font: 12px/1.5 "微软雅黑",Tahoma,Helvetica,Arial,'宋体',sans-serif,宋体;
            line-height: 1.5;
        }

        #toolbar .bar-con .right-show div a {
            margin-left: 15px;
            color:
                    #333;
        }
        a {
            color: #5e5e5e;
            text-decoration: none;
        }


        body {
            color: #666;
        }
        body, button, input, select, textarea {
            font: 12px/1.5 "微软雅黑",Tahoma,Helvetica,Arial,'宋体',sans-serif,宋体;
            line-height: 1.5;
        }

        #toolbar #nav-reg {
            color:
                    #ff464e;
        }
        #toolbar .bar-con .right-show div a {
            margin-left: 15px;
            color: #333;
        }
        a {
            color: #5e5e5e;
            text-decoration: none;
        }


        body {
            color: #666;
        }
        body, button, input, select, textarea {
            font: 12px/1.5 "微软雅黑",Tahoma,Helvetica,Arial,'宋体',sans-serif,宋体;
            line-height: 1.5;
        }
        #toolbar .bar-con .right-show div a {
            margin-left: 15px;
            color:
                    #333;
        }
        a {
            color: #5e5e5e;
            text-decoration: none;
        }


        body {
            color: #666;
        }
        body, button, input, select, textarea {
            font: 12px/1.5 "微软雅黑",Tahoma,Helvetica,Arial,'宋体',sans-serif,宋体;
            line-height: 1.5;
        }
        #toolbar .bar-con .right-show div a {
            margin-left: 15px;
            color:
                    #333;
        }
        a {
            color: #5e5e5e;
            text-decoration: none;
        }


        body {
            color: #666;
        }
        body, button, input, select, textarea {
            font: 12px/1.5 "微软雅黑",Tahoma,Helvetica,Arial,'宋体',sans-serif,宋体;
            line-height: 1.5;
        }
        #toolbar .bar-con .right-show .bag-show .bag-a {
            position: absolute;
            width: 107px;
            display: block;
            top: 2px;
            left: 0;
            text-align: center;
            z-index: 15;
            margin-left: 0;
        }
        #toolbar .bar-con .right-show div a {
            margin-left: 15px;
            color:
                    #333;
        }
        a {
            color: #5e5e5e;
            text-decoration: none;
        }
        #toolbar .bar-con .right-show div.logined-show, #toolbar .bar-con .right-show div.personal-show, #toolbar .bar-con .right-show div.bag-show, #toolbar .bar-con .right-show div.other-show, #toolbar .bar-con .right-show div.union-login, #toolbar .bar-con .right-show div.login-show {
            color: #e2e2e2;
        }
        #toolbar .bar-con .right-show .bag-show {
            color: #f6f6f6 !important;
        }

        body {
            color: #666;
        }
        body, button, input, select, textarea {
            font: 12px/1.5 "微软雅黑",Tahoma,Helvetica,Arial,'宋体',sans-serif,宋体;
            line-height: 1.5;
        }
        #toolbar .bar-con .right-show div a {
            margin-left: 15px;
            color:
                    #333;
        }
        .other-show01 a {
            padding-right: 10px;
        }
        a {
            color: #5e5e5e;
            text-decoration: none;
        }
        #toolbar .bar-con .right-show div.logined-show, #toolbar .bar-con .right-show div.personal-show, #toolbar .bar-con .right-show div.bag-show, #toolbar .bar-con .right-show div.other-show, #toolbar .bar-con .right-show div.union-login, #toolbar .bar-con .right-show div.login-show {
            color: #e2e2e2;
        }

        body {
            color: #666;
        }
        body, button, input, select, textarea {
            font: 12px/1.5 "微软雅黑",Tahoma,Helvetica,Arial,'宋体',sans-serif,宋体;
            line-height: 1.5;
        }
        #toolbar .bar-con .right-show div a {
            margin-left: 15px;
            color:
                    #333;
        }
        .other-show01 a {
            padding-right: 10px;
        }
        a {
            color: #5e5e5e;
            text-decoration: none;
        }
        #toolbar .bar-con .right-show div.logined-show, #toolbar .bar-con .right-show div.personal-show, #toolbar .bar-con .right-show div.bag-show, #toolbar .bar-con .right-show div.other-show, #toolbar .bar-con .right-show div.union-login, #toolbar .bar-con .right-show div.login-show {
            color: #e2e2e2;
        }
        #toolbar .bar-con {
            line-height: 29px;
        }
        body {
            color: #666;
        }
        body, button, input, select, textarea {
            font: 12px/1.5 "微软雅黑",Tahoma,Helvetica,Arial,'宋体',sans-serif,宋体;
            line-height: 1.5;
        }
    </style>
</head>
<body>
<div id="toolbar">
    <div class="bar-con">
        <div class="right-show fr">
            <div class="login-show">
                <a href="https://user.juanpi.com/login" rel="nofollow">登录</a>
                <a href="https://user.juanpi.com/register" rel="nofollow" id="nav-reg">免费注册</a>　|
                <a href="https://user.juanpi.com/order" rel="nofollow">我的订单</a>&nbsp;
                <a href="https://seller.juanpi.com/choice/welcome" rel="nofollow">商家入驻</a>&nbsp;
            </div>
            <div class="bag-show">
                <a href="//cart.juanpi.com/cart" class="bag-a"><span class="icon-normal icon-bag fl"></span><span class="empty fl"><span class="fl">购物袋</span><em class="num cartnum">0</em></span></a>
                <div class="bag-tool" style="display:none;">
                    <div id="loadingimg" style="display:none"></div>
                </div>|
            </div>
            <div class="other-show other-show01">
                <a class="normal-box01-a" href="https://seller.juanpi.com/guide" target="_blank" rel="nofollow">商家中心</a>
            </div>
            <!--
            <div class="other-show other-show01">
                <a>客户服务</a>
                <div class="normal-box01">
                    <ul>
                        <li><a href="//www.juanpi.com/help" target="_blank" rel="nofollow">帮助中心</a></li>
                        <li><a href="//www.juanpi.com/about/service" target="_blank" rel="nofollow">联系客服</a></li>
                    </ul>
                </div>
            </div>-->
        </div>
    </div>
</div>
</body>
</html>