<html>
<head>
    <script type="text/javascript" src="/javascripts/libs/jquery.js"></script><!--3.0-->
    <style>
        #toolbar {
            background:
                    #f6f6f6;
            height: 30px;
        }

        body {
            color:
                    #666;
        }
        body, button, input, select, textarea {
            font: 12px/1.5 "微软雅黑",Tahoma,Helvetica,Arial,'宋体',sans-serif,宋体;
        }

        w1200 #toolbar .bar-con {
            width: 1200px;
        }
        #toolbar .bar-con {
            width: 980px;
            margin: 0 auto;
            line-height: 29px;
        }

        body {
            color: #666;
        }
        body, button, input, select, textarea {
            font: 12px/1.5 "微软雅黑",Tahoma,Helvetica,Arial,'宋体',sans-serif,宋体;
            line-height: 1.5;
        }
        fr {
            float: right;
            display: inline;
        }

        #toolbar .bar-con {
            line-height: 29px;
        }
        body {
            color:
                    #666;
        }
        body, button, input, select, textarea {
            font: 12px/1.5 "微软雅黑",Tahoma,Helvetica,Arial,'宋体',sans-serif,宋体;
            line-height: 1.5;
        }
        toolbar .bar-con .right-show div.logined-show, #toolbar .bar-con .right-show div.personal-show, #toolbar .bar-con .right-show div.bag-show, #toolbar .bar-con .right-show div.other-show, #toolbar .bar-con .right-show div.union-login, #toolbar .bar-con .right-show div.login-show {
            display: block;
            float: left;
            color:
                    #e2e2e2;
        }


        body {
            color: #666;
        }
        body, button, input, select, textarea {
            font: 12px/1.5 "微软雅黑",Tahoma,Helvetica,Arial,'宋体',sans-serif,宋体;
            line-height: 1.5;
        }

        #toolbar .bar-con .right-show div.logined-show, #toolbar .bar-con .right-show div.personal-show, #toolbar .bar-con .right-show div.bag-show, #toolbar .bar-con .right-show div.other-show, #toolbar .bar-con .right-show div.union-login, #toolbar .bar-con .right-show div.login-show {
            display: block;
            float: left;
            color: #e2e2e2;
        }
        #toolbar .bar-con .right-show .bag-show {
            position: relative;
            z-index: 101;
            width: 107px;
            height: 30px;
            background: url(../images/global/li_cur.png) no-repeat right 7px;
            color:
                    #f6f6f6 !important;
        }


        body {
            color: #666;
        }
        body, button, input, select, textarea {
            font: 12px/1.5 "微软雅黑",Tahoma,Helvetica,Arial,'宋体',sans-serif,宋体;
            line-height: 1.5;
        }
        #toolbar .bar-con .right-show div.logined-show, #toolbar .bar-con .right-show div.personal-show, #toolbar .bar-con .right-show div.bag-show, #toolbar .bar-con .right-show div.other-show, #toolbar .bar-con .right-show div.union-login, #toolbar .bar-con .right-show div.login-show {
            display: block;
            float: left;
            color:
                    #e2e2e2;
        }
        .other-show01 {
            position: relative;
            z-index: 13;
        }


        body {
            color: #666;
        }
        body, button, input, select, textarea {
            font: 12px/1.5 "微软雅黑",Tahoma,Helvetica,Arial,'宋体',sans-serif,宋体;
            line-height: 1.5;
        }

        .other-show01 {
            position: relative;
            z-index: 13;
        }
        html, body, div, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
            margin: 0;
            padding: 0;
        }

        body {
            color: #666;
        }
        body, button, input, select, textarea {
            font: 12px/1.5 "微软雅黑",Tahoma,Helvetica,Arial,'宋体',sans-serif,宋体;
            line-height: 1.5;
        }

        #toolbar .bar-con .right-show div a {
            margin-left: 15px;
            color:
                    #333;
        }
        a {
            color: #5e5e5e;
            text-decoration: none;
        }


        body {
            color: #666;
        }
        body, button, input, select, textarea {
            font: 12px/1.5 "微软雅黑",Tahoma,Helvetica,Arial,'宋体',sans-serif,宋体;
            line-height: 1.5;
        }

        #toolbar #nav-reg {
            color:
                    #ff464e;
        }
        #toolbar .bar-con .right-show div a {
            margin-left: 15px;
            color: #333;
        }
        a {
            color: #5e5e5e;
            text-decoration: none;
        }


        body {
            color: #666;
        }
        body, button, input, select, textarea {
            font: 12px/1.5 "微软雅黑",Tahoma,Helvetica,Arial,'宋体',sans-serif,宋体;
            line-height: 1.5;
        }
        #toolbar .bar-con .right-show div a {
            margin-left: 15px;
            color:
                    #333;
        }
        a {
            color: #5e5e5e;
            text-decoration: none;
        }


        body {
            color: #666;
        }
        body, button, input, select, textarea {
            font: 12px/1.5 "微软雅黑",Tahoma,Helvetica,Arial,'宋体',sans-serif,宋体;
            line-height: 1.5;
        }
        #toolbar .bar-con .right-show div a {
            margin-left: 15px;
            color:
                    #333;
        }
        a {
            color: #5e5e5e;
            text-decoration: none;
        }


        body {
            color: #666;
        }
        body, button, input, select, textarea {
            font: 12px/1.5 "微软雅黑",Tahoma,Helvetica,Arial,'宋体',sans-serif,宋体;
            line-height: 1.5;
        }
        #toolbar .bar-con .right-show .bag-show .bag-a {
            position: absolute;
            width: 107px;
            display: block;
            top: 2px;
            left: 0;
            text-align: center;
            z-index: 15;
            margin-left: 0;
        }
        #toolbar .bar-con .right-show div a {
            margin-left: 15px;
            color:
                    #333;
        }
        a {
            color: #5e5e5e;
            text-decoration: none;
        }
        #toolbar .bar-con .right-show div.logined-show, #toolbar .bar-con .right-show div.personal-show, #toolbar .bar-con .right-show div.bag-show, #toolbar .bar-con .right-show div.other-show, #toolbar .bar-con .right-show div.union-login, #toolbar .bar-con .right-show div.login-show {
            color: #e2e2e2;
        }
        #toolbar .bar-con .right-show .bag-show {
            color: #f6f6f6 !important;
        }

        body {
            color: #666;
        }
        body, button, input, select, textarea {
            font: 12px/1.5 "微软雅黑",Tahoma,Helvetica,Arial,'宋体',sans-serif,宋体;
            line-height: 1.5;
        }
        #toolbar .bar-con .right-show div a {
            margin-left: 15px;
            color:
                    #333;
        }
        .other-show01 a {
            padding-right: 10px;
        }
        a {
            color: #5e5e5e;
            text-decoration: none;
        }
        #toolbar .bar-con .right-show div.logined-show, #toolbar .bar-con .right-show div.personal-show, #toolbar .bar-con .right-show div.bag-show, #toolbar .bar-con .right-show div.other-show, #toolbar .bar-con .right-show div.union-login, #toolbar .bar-con .right-show div.login-show {
            color: #e2e2e2;
        }

        body {
            color: #666;
        }
        body, button, input, select, textarea {
            font: 12px/1.5 "微软雅黑",Tahoma,Helvetica,Arial,'宋体',sans-serif,宋体;
            line-height: 1.5;
        }
        #toolbar .bar-con .right-show div a {
            margin-left: 15px;
            color:
                    #333;
        }
        .other-show01 a {
            padding-right: 10px;
        }
        a {
            color: #5e5e5e;
            text-decoration: none;
        }
        #toolbar .bar-con .right-show div.logined-show, #toolbar .bar-con .right-show div.personal-show, #toolbar .bar-con .right-show div.bag-show, #toolbar .bar-con .right-show div.other-show, #toolbar .bar-con .right-show div.union-login, #toolbar .bar-con .right-show div.login-show {
            color: #e2e2e2;
        }
        #toolbar .bar-con {
            line-height: 29px;
        }
        body {
            color: #666;
        }
        body, button, input, select, textarea {
            font: 12px/1.5 "微软雅黑",Tahoma,Helvetica,Arial,'宋体',sans-serif,宋体;
            line-height: 1.5;
        }

        .icon-normal {

            background-position: 0 0;
            display: inline-block;
            vertical-align: -3px;
            margin-right: 3px;

        }
        .icon-normal, #toolbar .bar-con .right-show div.logined-show .normal-box ul li a .icon {

            background: url(../images/total/icon-total.png?20160112) no-repeat 0 0;
            background-position-x: 0px;
            background-position-y: 0px;

        }
        .icon-bag {
            background-position: 0 -156px!important;
            width: 16px;
            height: 18px;
            float: left;
            margin: 4px 11px 0 12px;

        }
        #toolbar .bar-con .right-show .bag-show .bag-a span.empty em {
            background: none repeat scroll 0 0 #ff464e;
            border-radius: 15px;
            color: #fff;
            display: inline;
            font-family: "宋体";
            height: 18px;
            line-height: 18px;
            margin: 3px 0 0 5px;
            text-align: center;
            width: 18px;
            float: left;
        }
        .login-in{
            display: none;
            color:red!important;
        }
    </style>
</head>
<body>
<div id="toolbar">
    <div class="bar-con">
        <div class="right-show fr">
            <div class="login-show">
                
                <span class="login-off" id="login-off">
                    <a href="#" rel="nofollow">登录</a>
                    <a href="/regMobile" rel="nofollow" id="nav-reg">免费注册</a>
                </span>

                <span class='showUser login-in' id='login-in'></span>
               
                <a href="#" rel="nofollow">我的订单</a>&nbsp;
                <a href="#" rel="nofollow">商家入驻</a>&nbsp;
            </div>
            <div class="bag-show">
                <a href="#" class="bag-a"><span class="icon-normal icon-bag fl"></span><span class="empty fl"><span class="fl">购物袋</span><em class="num cartnum">0</em></span></a>
                <div class="bag-tool" style="display:none;">
                    <div id="loadingimg" style="display:none"></div>
                </div>|
            </div>
            <div class="other-show other-show01">
                <a class="normal-box01-a" href="#" target="_blank" rel="nofollow">商家中心</a>
            </div>
            <!--
            <div class="other-show other-show01">
                <a>客户服务</a>
                <div class="normal-box01">
                    <ul>
                        <li><a href="#" target="_blank" rel="nofollow">帮助中心</a></li>
                        <li><a href="#" target="_blank" rel="nofollow">联系客服</a></li>
                    </ul>
                </div>
            </div>-->
        </div>
    </div>
</div>
<script>

$(document).ready(function () {
    function checkIsLogin(){
        $.ajax({
            type : "GET",
            //contentType: "application/json;charset=UTF-8",
            url : "/checkIsLogin",
            success : function(result) {
                if(result){
                    alert("登陆了");
                    var showName = result.showName;
                    $("#login-off").hide();
                    $("#login-in").text(showName);
                    $("#login-in").show();
                } else{
                    alert("没登陆");
                }
            },
            error : function(e){
            }
        });
    }
    checkIsLogin();
})
</script>
</body>
</html>